body.admin-bar.logged-in {
	.newspack-campaigns-preview-toggle a::before {
		content: '\f177';
		top: 1px;
	}

	&.newspack-popups-hide-prompts {
		.newspack-campaigns-preview-toggle a::before {
			content: '\f530';
		}

		.newspack-popup {
			display: none !important;
			visibility: hidden;
		}
	}
}
