// Secondary Color
$color__secondary: #757575;
$color__secondary-variation: darken( $color__secondary, 10% );

// System Font
$font__system: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, oxygen, ubuntu, cantarell,
	'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

// Sizes
$overlay__gap: 16px;
$size__x-small: 380px;
$size__small: 544px;
$size__medium: 784px;
$size__large: 1264px;

.newspack-lightbox {
	align-items: center;
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	margin: 0 !important;
	max-width: 100% !important;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	// Popup needs to be initially out of the viewport,
	// so that analytics work when checking visibility.
	transform: translateY( 100vh );
	visibility: hidden;
	width: 100% !important;
	z-index: 99999;

	.admin-bar & {
		@media only screen and ( min-width: 601px ) {
			padding-top: 46px !important;
		}

		@media only screen and ( min-width: 783px ) {
			padding-top: 32px !important;
		}
	}

	.newspack-lightbox-shim {
		background: black;
		border: 0;
		border-radius: 0;
		cursor: auto;
		height: 100%;
		left: 0;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 0;
	}

	.newspack-popup-wrapper {
		background: white;
		border: none;
		box-shadow: 0 0 1em 0.5em rgba( black, 0.1 );
		overflow-x: hidden;
		position: relative;
		z-index: 1;
	}

	.newspack-popup {
		background: transparent;
		margin: 0 auto;
		max-width: $size__medium;
		padding: 32px;

		> *:first-child {
			margin-top: 0;
		}

		.wp-block-column {
			> *:first-child {
				margin-top: 0;
			}

			> *:last-child {
				margin-bottom: 0;
			}
		}
	}

	.newspack-lightbox__close {
		align-items: center;
		background: white;
		border: none;
		border-radius: 0;
		box-shadow: none;
		color: inherit;
		cursor: pointer;
		display: flex;
		font-size: inherit;
		height: 36px;
		justify-content: center;
		margin: 0;
		padding: 6px;
		position: absolute;
		right: 0;
		top: 0;
		width: 36px;

		svg {
			fill: currentColor;
			flex: 0 0 24px;
		}

		&:active,
		&:hover {
			opacity: 0.6;
		}

		&:focus {
			outline: 1px solid;
			outline-offset: -1px;
		}
	}

	/* Placements */
	&.newspack-lightbox-placement-center,
	&.newspack-lightbox-placement-bottom_left,
	&.newspack-lightbox-placement-bottom_right,
	&.newspack-lightbox-placement-center_left,
	&.newspack-lightbox-placement-center_right,
	&.newspack-lightbox-placement-top_left,
	&.newspack-lightbox-placement-top_right {
		.newspack-popup-wrapper {
			max-height: calc( 100% - #{$overlay__gap} );
			overflow-y: auto;
		}
	}

	&.newspack-lightbox-placement-bottom,
	&.newspack-lightbox-placement-top {
		.newspack-popup-wrapper {
			max-height: 100%;
			overflow-y: auto;
		}
	}

	/* Sizing */
	&.newspack-lightbox-size-x-small,
	&.newspack-lightbox-size-small,
	&.newspack-lightbox-size-medium,
	&.newspack-lightbox-size-large,
	&.newspack-lightbox-size-full-width {
		.newspack-popup-wrapper {
			min-width: calc( 100% - #{$overlay__gap} );
			width: calc( 100% - #{$overlay__gap} );
		}

		.newspack-popup {
			max-width: 100%;
		}
	}

	&.newspack-lightbox-size-x-small {
		.newspack-popup-wrapper {
			@media only screen and ( min-width: #{$size__x-small + $overlay__gap} ) {
				min-width: $size__x-small;
				width: $size__x-small;
			}
		}
	}

	&.newspack-lightbox-size-small {
		.newspack-popup-wrapper {
			@media only screen and ( min-width: #{$size__small + $overlay__gap} ) {
				min-width: $size__small;
				width: $size__small;
			}
		}
	}

	&.newspack-lightbox-size-medium {
		.newspack-popup-wrapper {
			@media only screen and ( min-width: #{$size__medium + $overlay__gap} ) {
				min-width: $size__medium;
				width: $size__medium;
			}
		}
	}

	&.newspack-lightbox-size-large {
		.newspack-popup-wrapper {
			@media only screen and ( min-width: #{$size__large + $overlay__gap} ) {
				min-width: $size__large;
				width: $size__large;
			}
		}
	}

	&.newspack-lightbox-size-full-width {
		.newspack-popup-wrapper {
			min-width: 100%;
			width: 100%;
		}

		.newspack-popup {
			max-width: $size__large;
		}
	}

	&.newspack-lightbox-placement-bottom {
		align-items: flex-end;
	}

	&.newspack-lightbox-placement-top {
		align-items: flex-start;
	}

	&.newspack-lightbox-placement-bottom_right {
		align-items: flex-end;
		justify-content: flex-end;
	}

	&.newspack-lightbox-placement-bottom_left {
		align-items: flex-end;
		justify-content: flex-start;
	}

	&.newspack-lightbox-placement-top_right {
		align-items: flex-start;
		justify-content: flex-end;
	}

	&.newspack-lightbox-placement-top_left {
		align-items: flex-start;
		justify-content: flex-start;
	}

	&.newspack-lightbox-placement-center_right {
		justify-content: flex-end;
	}

	&.newspack-lightbox-placement-center_left {
		justify-content: flex-start;
	}

	/* Background */
	&.newspack-lightbox-no-overlay {
		pointer-events: none;

		.newspack-popup-wrapper {
			pointer-events: all;
		}
	}
}

// Alignment
.entry-content {
	/* stylelint-disable-next-line no-duplicate-selectors */
	.newspack-lightbox {
		.newspack-popup {
			.alignfull,
			.alignwide {
				margin-left: 0;
				margin-right: 0;
				max-width: 100%;
				padding-left: 0;
				padding-right: 0;

				@media only screen and ( min-width: 600px ) {
					&.wp-block-columns {
						margin-left: -16px;
						margin-right: -16px;
						max-width: calc( 100% + 32px );
						width: calc( 100% + 32px );
					}
				}

				&.wp-block-columns,
				&.wp-block-columns .wp-block-column {
					padding-left: 0;
					padding-right: 0;
				}
			}

			@media only screen and ( min-width: 600px ) {
				.alignfull.wp-block-columns {
					margin-left: -16px;
					margin-right: -16px;
					max-width: calc( 100% + 32px );
					width: calc( 100% + 32px );
				}
			}
		}
	}
}

.newspack-inline-popup {
	display: block;
	border: 1px solid rgba( black, 0.2 );
	clear: both;
	padding: 0.75em;

	&:focus {
		outline: none;
	}

	&.newspack-lightbox-no-border {
		border: none;
		padding: 0;
	}
}

.newspack-inactive-popup-status {
	&::before {
		background: black;
		color: white;
		content: attr( data-popup-status );
		font-family: $font__system;
		font-size: 0.8em;
		font-weight: bold;
		text-transform: uppercase;
		left: 6px;
		line-height: 1.5;
		padding: 0 0.25em;
		position: absolute;
		top: 6px;
		z-index: 1;
	}
}

.newspack-above-header-popup {
	display: block;
	clear: both;
	padding: 0.75em 0;

	&:focus {
		outline: none;
	}
}

// This is needed for the scroll-triggered popups to function properly.
// (#page-position-marker element is an absolutely-placed child of .entry-content)
/* stylelint-disable-next-line no-duplicate-selectors */
.entry-content {
	position: relative !important;
}

.hide {
	display: none;
}
