// Secondary Color based on Newspack Theme
$color__secondary: #555;
$color__secondary-variation: darken( $color__secondary, 10% );

.newspack-lightbox {
	align-items: center;
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	margin: 0 !important;
	max-width: 100% !important;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	visibility: hidden;
	width: 100% !important;
	z-index: 99999;

	.admin-bar & {
		@media only screen and ( min-width: 601px ) {
			padding-top: 46px !important;
		}

		@media only screen and ( min-width: 783px ) {
			padding-top: 32px !important;
		}
	}

	.newspack-lightbox-shim {
		background: black;
		border: 0;
		border-radius: 0;
		cursor: auto;
		height: 100%;
		left: 0;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 0;
	}

	.newspack-popup-wrapper {
		background: white;
		border: none;
		box-shadow: 0 0 1em 0.5em rgba( black, 0.1 );
		overflow-x: hidden;
		position: relative;
		z-index: 1;
	}

	.newspack-popup {
		background: transparent;
		margin: 0 auto;
		max-width: 780px;
		padding: 1.5em;

		& > *:first-child {
			margin-top: 0;
		}

		& > *:nth-last-child(2) { // Last child being .popup-dismiss-form
			margin-bottom: 0;
		}

		.wp-block-column {
			& > *:first-child {
				margin-top: 0;
			}

			& > *:last-child {
				margin-bottom: 0;
			}
		}
	}

	.newspack-lightbox__close {
		align-items: center;
		box-shadow: none;
		cursor: pointer;
		display: flex;
		font-size: inherit;
		height: 36px;
		justify-content: center;
		margin: 0;
		padding: 6px;
		position: absolute;
		right: 0.25em;
		top: 0.25em;
		width: 36px;

		svg {
			fill: currentcolor;
			flex: 0 0 24px;
		}
	}

	.popup-not-interested-form {
		display: flex;
		justify-content: center;
		margin-top: 1.5em;

		button {
			background: transparent;
			border: 0;
			border-radius: 0;
			color: $color__secondary;
			font-size: 0.7em;
			font-weight: normal;
			line-height: 1;
			margin: 0;
			padding: 0;
			text-decoration: underline;

			&:active,
			&:focus,
			&:hover {
				color: $color__secondary-variation;
				outline-offset: 2px;
				text-decoration: none;
			}
		}
	}

	/* Placements */
	&.newspack-lightbox-placement-center {
		.newspack-popup-wrapper {
			max-height: 90%;
			max-height: calc(100% - 1.5em);
			min-width: 100%;
			overflow-y: auto;

			@media only screen and (min-width: 780px) {
				min-width: 780px;
			}
		}
	}

	&.newspack-lightbox-placement-bottom,
	&.newspack-lightbox-placement-top {
		.newspack-popup-wrapper {
			max-height: 100%;
			overflow-y: auto;
			width: 100%;
		}

		.newspack-popup {
			max-width: 90%;
			padding-left: 0;
			padding-right: 0;
			width: 1200px;
		}
	}

	&.newspack-lightbox-placement-bottom {
		align-items: flex-end;
	}

	&.newspack-lightbox-placement-top {
		align-items: flex-start;
	}
}
